.DxSlider {
  padding: 20px;
}

.DxSlider__rail {
  height: 5px;
  background: lightgray;
  border: 1px solid gray;
  position: relative;
}

.DxSlider__rail-overlay {
  height: 5px;
  position: absolute;
  top: 0;
}

.DxSlider__rail-overlay--pre {
  width: 33.333%;
  left: 0;
  background-color: greenyellow;
}

.DxSlider__rail-overlay--mid {
  width: 33.333%;
  left: 33.333%;
  background-color: orange;
}

.DxSlider__rail-overlay--post {
  width: 33.333%;
  left: 66.666%;
  background-color: red;
}

.DxSlider__thumb {
  height: 20px;
  width: 20px;
  border-radius: 100px;
  border: 1px solid green;
  background: aquamarine;
  position: absolute;
  top: -7px;
}

.DxSlider__thumb--first {
  left: 33.333%;
}

.DxSlider__thumb--second {
  left: 66.666%;
}


/* CSS Document */

div.aria-widget-slider {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  height: 4em;
}

div.aria-widget-slider .rail {
  margin: 2px;
  padding: 1px;
  background-color: #eee;
  border: 1px solid #888;
  position: relative;
  top: 2em;
  height: 4px;
}

div.aria-widget-slider .thumb {
  border: 1px solid #888;
  border-top-color: #666;
  border-left-color: #666;
  background-color: #ddd;
  position: relative;
}

div.aria-widget-slider .rail .thumb.focus,
div.aria-widget-slider .rail .thumb:hover {
  outline: 2px solid #888;
  background-color: #def;
}

div.aria-widget-slider .rail.focus {
  background-color: #aaa;
}

div.aria-widget-slider .value {
  width: 2em;
  text-align: right;
  position: absolute;
}

label {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#idColorBox {
  width: 200px;
  height: 200px;
  border: black solid medium;
  text-align: center;
  padding: 0.25em;
}

#idColorInfo {
  padding-top: 5px;
}